@import url("./_variables.css");
@import url("https://fonts.googleapis.com/css?family=Sintony");

::-webkit-scrollbar {
  display: none;
}

/** Fonts **/
@font-face {
  font-family: EuroCaps;
  font-weight: 200;
  src: url(../fonts/EUROCAPS.TTF);
  text-transform: lowercase;
}
@font-face {
  font-family: Telegrama;
  src: url(../fonts/telegrama_render.otf) format("opentype");
}


html,
body {
  height: 100%;
}

body {
  background-color: var(--background-color);
  color: #e6e6e6;
  font-family: "Sintony", EuroCaps, sans-serif;
  font-weight: 300;
}

body::after {
  content: "";
  background: url(../images/elitist-background.jpg);
  opacity: 0.05;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
