/* =======================
    CSS DIRECTORY
        1. IMPORTS
        2. NON-STANDARD FONTS
        3. GENERAL STYLES
            1. PANELS
                1. TABLE
            2. TEXT-ALIGN
        4. ANIMATIONS
        5. PROGRESS BAR
        6. APP OVERLAY
        7. MAIN
        8. HEADER
        9. SECTIONS
            1. INFO
                1. CMDR
                2. SHIP
                3. RANKS
                4. CARGO
                5. MATERIALS
                6. LOG
            2. TRAVEL
                1. OVERLAY
                2. LOCATION
                3. DOCK
                    1. STATION
                    2. FUTURE: BODY
                4. BODIES
            3. FUTURE: SHIPS
            4. FUTURE: ENGINEERS
            5. FUTURE: EXTENSIVE LOG
            6. FUTURE: KEYBINDS
            7. FUTURE: SCREENSHOTS
        10. FONTS
            1. SIZES
            2. COLORS
        11. APPLICATION TITLE BAR
        12. FARMING OVERLAY
   ======================= */

/* =======================
    1. IMPORT
   ======================= */
@import url("./_variables.css");

/* =======================
       2. NON-STANDARD FONTS
      ======================= */
@import url("https://fonts.googleapis.com/css?family=Sintony");
@font-face {
  font-family: EuroCaps;
  src: url(../fonts/EUROCAPS.TTF);
  font-weight: 200;
}
@font-face {
  font-family: Telegrama;
  src: url(../fonts/telegrama_render.otf) format("opentype");
}
@font-face {
  font-family: Eurostile;
  src: url(../fonts/EurostileReg.otf) format("opentype");
}
@font-face {
  font-family: EurostileCondensed;
  src: url(../fonts/EurostileCondensed.otf) format("opentype");
}

/* =======================
       3. GENERAL STYLES
      ======================= */

html,
body {
  height: 100%;
}

body {
  background-color: var(--background-color);
  color: #e6e6e6;
  font-family: "Sintony", EuroCaps, sans-serif;
  font-weight: 300;
}

body::after {
  content: "";
  background: url(../images/elitist-background.jpg);
  opacity: 0.05;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

/* =======================
       3.1 GENERAL STYLES: PANELS
      ======================= */
.panel {
  display: flex;
  flex-direction: column;
}
.panel-header {
  display: flex;
}
.panel-body {
  display: flex;
  flex-direction: column;
}
.panel-row {
  display: flex;
  flex-direction: row;
  padding-top: 4px;
}

/* =======================
       3.1.1 GENERAL STYLES: PANELS > TABLE
      ======================= */
.panel .table {
  text-shadow: none;
  position: relative;
  border-collapse: separate;
  border-spacing: 0 1px;
}
.panel .table thead th {
  position: sticky;
  top: 0px;
  background: var(--background-color);
  font-size: 12px;
  padding: 4px 4px 0 4px;
}
.panel .table tbody td {
  background: var(--orange-darkest);
  color: var(--orange);
  font-size: 13px;
  padding: 4px 1px 0 1px;
}
.panel .table .border-left {
  border-left: 1px solid var(--orange-dark);
}

/* =======================
       3.2 GENERAL STYLES: TEXT-ALIGN
      ======================= */
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

/* =======================
       4.ANIMATIONS
      ======================= */
.loader {
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}
.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid var(--orange);
}
.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid var(--orange-dark);
}
.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid var(--orange-darker);
}
@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

.fade-in {
  animation: fadeIn 1s linear;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut 1s linear;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* =======================
       5. PROGRESS BAR
      ======================= */
/* progress {
       
       height: 1px;
       width: 100%;
       bottom: 3px;
   } */
progress {
  /* Reset the default appearance */
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  height: 1px;
  width: 100%;
  bottom: 3px;
}
progress::-webkit-progress-bar {
  background-color: #00000028;
}
progress::-webkit-progress-value {
  background-color: var(--orange);
  transition: 0.4s linear;
  transition-property: width, background-color;
}
progress.elite::-webkit-progress-value {
  background-color: var(--elite-yellow);
  opacity: 0.1;
}

/* =======================
       6. OVERLAY
      ======================= */
.overlay-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  /* margin-top: 45%; */
  z-index: 1000;
  position: absolute;
  /* font-family: Eurocaps;
       text-transform: lowercase; */
  font-family: Eurostile;
  text-transform: uppercase;
  line-height: 1.2;
  flex-flow: column;
}
.overlay-container .msg {
  margin-top: 20px;
  padding: 5px 0;
  text-align: center;
}
.overlay-container .msg.no-cmdr {
  color: var(--elite-red);
}

/* =======================
       7. MAIN
      ======================= */
main {
  /* display: none; */
  /* display: flex; */
  flex-direction: column;
  height: 100%;
  /* font-family: Eurocaps; */
  font-family: Eurostile;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

/* =======================
       8. HEADER
      ======================= */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 90px;
  /* text-transform: lowercase; */
}
header div {
  padding: 0 10px;
  flex-direction: column;
}
header div.title-panel {
  margin-bottom: 10px;
}
header div.title-panel .title {
  font-size: 1.8em;
  /* line-height: 1; */
}
header div.title-panel .sub-title {
  font-size: 1.2em;
  /* line-height: 0.8; */
  padding-left: 14px;
}
header div.title-panel .sub-title span {
  display: inline-block;
}
header div.time-panel {
  text-align: right;
  align-items: flex-end;
  margin-bottom: 10px;
}
header div.time-panel .date {
  font-size: 16px;
  /* line-height: 0.8; */
  letter-spacing: 0px;
}
header div.time-panel .time {
  font-family: Telegrama;
  font-size: 16px;
  font-weight: 400;
  /* line-height: 1.1; */
}
/* =======================
       9 SECTIONS
      ======================= */
section {
  display: flex;
  flex-direction: row;
}
section section {
  height: calc(100vh - 125px);
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: #00000050;
}

/* =======================
       9.1 SECTIONS: INFO
      ======================= */
section > .info {
  width: 25%;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--orange-darker);
  border-bottom: 1px solid var(--orange-darker);
  text-shadow: 0 0 3px #000000;
}
.info .panel-title {
  padding-top: 25px;
  text-align: right;
  line-height: 0.5;
  color: var(--orange-dark);
  font-size: 12px;
  border-bottom: 1px solid var(--orange-darker);
  margin-bottom: 6px;
}
.info .panel-row {
  position: relative;
  justify-content: space-between;
}
.info .desc {
  font-size: 13px;
  padding-left: 3px;
}
.info .val {
  font-size: 14px;
  padding-right: 3px;
}
.info .progress {
  position: absolute;
  bottom: 3px;
  margin: 0 auto;
  width: 100%;
}
.info .table .item-name {
  padding-left: 5px;
}

/* =======================
       9.1.1 SECTIONS: INFO > CMDR
      ======================= */
.cmdr .name {
  font-size: 20px;
  padding-top: 4px;
}
.cmdr .vessel {
  color: var(--elite-orange);
  text-indent: 3px;
}
.cmdr .credits {
  padding-top: 6px;
}

/* =======================
       9.1.2 SECTIONS: INFO > SHIP
      ======================= */
.ship .fuel {
  margin: 3px 0;
}
.ship .fuel progress {
  bottom: 0px;
}

/* =======================
       9.1.3 SECTIONS: INFO > RANKS
      ======================= */
.rank {
  line-height: 1.2;
}
.rank .elite {
  color: var(--elite-yellow);
}
.rank .federation {
  margin-top: 6px;
}
.rank .federation progress[value]::-webkit-progress-value {
  background: var(--federation);
}
.rank .empire progress[value]::-webkit-progress-value {
  background: var(--empire);
}

/* =======================
       9.1.4 SECTIONS: INFO > CARGO
      ======================= */
.cargo .cargo-empty {
  text-align: center;
  background: var(--brown);
  color: var(--orange-dark);
  text-shadow: none;
  /* line-height: 1.4; */
  padding-top: 5px;
}
.cargo .panel-body {
  max-height: 140px;
  overflow: scroll;
}

/* =======================
       9.1.5 SECTIONS: INFO > MATERIALS
      ======================= */
.materials {
  /* height: 100px; */
  flex-grow: 1;
}
.materials .panel-body {
  overflow: auto;
  flex: 1 1 auto;
  height: 0px;
}
.materials form {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.materials .filter {
  padding-bottom: 4px;
}
.materials .filter input {
  display: none;
  /* position: absolute !important;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        width: 1px;
        border: 0;
        overflow: hidden; */
}
.materials .filter input:checked + label {
  background-color: var(--orange-darker);
  color: var(--elite-yellow);
  /* box-shadow: none; */
}
.materials .filter label {
  background: var(--brown-dark);
  color: var(--orange-dark);
  font-size: 11px;
  text-align: center;
  flex: 1;
  padding: 4px 4px 0 4px;
  margin: 0 1px;
}
.materials .table tbody td.material-type {
  background: var(--brown-dark);
  font-size: 14px;
  width: 20px;
}
.materials .table tbody td.material-count {
  width: 20px;
}

/* =======================
       9.1.6 SECTIONS: INFO > LOG
      ======================= */
.log {
  max-height: 120px;
}
.log .panel-body {
  overflow: auto;
}
.log .panel-body div {
  width: 100%;
  margin-bottom: 1px;
  font-size: 13px;
}
.log .panel-body .info {
  color: var(--elite-blue-light);
}
.log .panel-body .highlight {
  color: var(--elite-yellow);
}
.log .panel-body .success {
  color: var(--elite-green);
}
.log .panel-body .warning {
  color: var(--elite-orange);
}
.log .panel-body .danger {
  color: var(--elite-red);
}

/* =======================
       9.2 SECTIONS: TRAVEL
      ======================= */
.travel {
  width: 75%;
  margin-right: 10px;
  border-top: 1px solid var(--elite-orange);
  border-bottom: 1px solid var(--elite-orange);
  box-shadow: inset 0 5px 6px -5px var(--elite-orange),
    inset 0 -5px 6px -5px var(--elite-orange),
    inset 0 150px 150px -150px var(--faint-red);
}
.spacer {
  padding: 0 4px;
  color: var(--orange);
}

/* =======================
       9.2.1 SECTIONS: TRAVEL > OVERLAY
      ======================= */
.travel-overlay {
  display: flex;
  display: none;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.travel-overlay .loader {
  margin: 0 auto;
}
.travel-overlay .msg {
  text-align: center;
  width: 100%;
  margin-top: 20px;
  font-size: 18px;
}
.travel-overlay .msg .destination {
  color: var(--elite-orange);
  font-size: 24px;
}
.travel-overlay .msg .destination-details {
  color: var(--orange-dark);
  font-size: 16px;
}

/* =======================
       9.2.2 SECTIONS: TRAVEL > LOCATION
      ======================= */
.location {
  margin: 0 15px;
}
.location .panel-header {
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.location .titles {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.location .title {
  font-size: 28px;
  text-shadow: 1px 1px 1px #000000;
  border-bottom: 1px solid var(--orange);
  /* line-height: 1.2; */
}
.location .sub-title {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  line-height: 1.2;
  color: var(--orange-dark);
  justify-content: space-between;
}
.location .sub-title .name {
  color: var(--orange-dark);
}
.location .sub-title .target {
  color: var(--elite-red);
}
.location .sub-title .docking-status {
  color: var(--orange-darkest);
}
.location .sub-title .docking-status.docked {
  color: var(--elite-green);
}
.location .icon {
  font-size: 32px;
  padding: 3px;
  border: 1px solid var(--orange-dark);
  text-align: center;
  margin-right: 10px;
}
.location .icon i {
  padding: 2px;
}
.location .panel-body {
  padding: 20px;
  font-size: 18px;
  flex-direction: row;
  flex-wrap: wrap;
}
.location .panel-row {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 4px 0;
}
.location .desc {
  font-size: 18px;
  color: var(--orange);
}
.location .val {
  font-size: 22px;
}

/* =======================
       9.2.3 SECTIONS: TRAVEL > DOCK
      ======================= */
.dock {
  margin: 0 20px;
  /* background: var(--brown-dark); */
  background: #33140285;
  position: relative;
  padding: 10px;
  text-shadow: 1px 1px 2px var(--brown-darkest);
  transition: margin-right 4s ease-in-out 2s;
}
.dock:before {
  content: "";
  background-color: var(--orange);
  display: block;
  width: 8px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.dock .panel-header {
  flex-direction: column;
}
.dock .title {
  font-size: 21px;
  padding-top: 10px;
  /* line-height: 1.2; */
}
.dock .sub-title {
  /* line-height: 1.1; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-top: 1px solid var(--orange);
}
.dock .sub-title .type {
  color: var(--orange-dark);
}
.dock .sub-title .docking-request {
  color: var(--orange-darker);
  padding-left: 14px;
  display: none;
}
.dock .panel-body {
  padding: 20px;
}
.dock .panel-row {
  justify-content: space-between;
}
.dock .desc {
  color: var(--orange);
  font-size: 16px;
}

/* =======================
       9.2.3.1 SECTIONS: TRAVEL > DOCK > STATION
      ======================= */
.dock .services {
  margin-top: 10px;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.dock .service {
  background: var(--orange-darkest);
  color: var(--orange);
  border-left: 1px solid var(--orange);
  text-shadow: 1px 1px 2px var(--brown-darker);
  padding: 2px 5px;
  margin: 2px;
  font-size: 14px;
}
.dock .service.blackmarket {
  color: var(--elite-yellow);
  border-left: 1px solid var(--elite-yellow);
}
/* =======================
       9.2.4 SECTIONS: TRAVEL > BODIES
      ======================= */
.bodies {
  margin: 15px;
  flex-grow: 1;
  text-shadow: 0 0 2px var(--brown-darker);
}
.bodies .panel-title {
  padding-top: 10px;
  color: var(--orange-dark);
  border-bottom: 1px solid var(--orange-darker);
  margin-bottom: 4px;
}
.bodies .panel-body {
  height: 0px;
  flex-grow: 1;
  overflow: scroll;
}
.bodies .body {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 1px;
  /* border-bottom: 1px solid var(--brown-darker); */
}
.bodies .body .id {
  /* padding: 2px;
       width: 40px;
       background: var(--orange-dark); */
  /* padding: 4px 10px 0 10px; */
  margin: auto;
  padding: 10px 20px;
}

.bodies .body .details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* background: var(--orange-darker); */
  /* background: #7f370085; */
  padding-top: 4px;
}
.bodies .body .details .name {
  font-size: 24px;
  text-shadow: 1px 1px 1px var(--brown-dark);
  padding: 4px;
  padding-bottom: 1px;
}
.bodies .body .details .type {
  font-size: 16px;
  text-shadow: 1px 1px 1px var(--brown-dark);
  padding: 0 6px 4px 4px;
  color: var(--orange);
}
/* Asteroid Belt */
.bodies .body.belt .details {
    font-size: 14px;
    flex-direction: row;
    justify-content: flex-end;
}
.bodies .body.belt .details .name,
.bodies .body.belt .details .type {
    font-size: 14px;
    padding: 0 6px 4px 4px;
}
.bodies .body.belt .id {
    display: none;
}
.bodies .properties,
.bodies .materials {
  /* background: var(--orange-darkest); */
  /* background: #401c0085; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
}
.bodies .properties {
  /* line-height: 1.1; */
  padding: 2px 4px;
}
.bodies .properties .property {
  padding: 4px 10px 0 10px;
  margin: 0 2px;
  background: var(--elite-blue-dark);
}
.bodies .properties .landable {
  background: var(--elite-green);
}

.bodies .properties .gravity-low {
  background: var(--elite-green);
}

.bodies .properties .gravity-medium {
  background: var(--elite-yellow);
}

.bodies .properties .gravity-high {
  background: var(--elite-red);
}
.bodies .properties .rings {
  padding: 0;
  background: none;
  display: flex;
  flex-direction: row;
}
.bodies .properties .rings .ring {
  margin: 1px;
  padding: 2px 5px;
  background: var(--elite-blue-light);
}

.bodies .materials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2px 4px;
}
.bodies .materials .material {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin: 1px;
  background: var(--brown-dark);
  text-shadow: none;
}
.bodies .materials .material div {
  padding: 0 6px;
  text-align: center;
}
.bodies .materials .material .grade-4 {
  background: var(--elite-yellow);
  color: var(--brown-dark);
}
.bodies .materials .material .grade-3 {
  background: var(--orange);
  color: var(--brown-dark);
}
.bodies .materials .material .grade-2 {
  background: var(--orange-dark);
}
.bodies .materials .material .grade-1 {
  background: var(--orange-darker);
}

/* =======================
       10.1 FONTS > COLORS
      ======================= */
header div.title-panel .sub-title,
header div.time-panel,
.info .desc {
  color: var(--elite-orange);
}
header div.title-panel .sub-title .offline {
  color: var(--elite-red);
}

header div.title-panel .sub-title .online {
  color: var(--elite-green);
}
.info .panel-title {
  color: var(--orange-dark);
}

/* =======================
       10.2 FONTS > SIZES
      ======================= */

/* =======================
       11. APPLICATION TITLE BAR
      ======================= */
nav.app-menu {
  background: #00000025;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
nav .app-title {
  font-family: EuroCaps;
  line-height: 1.6;
  padding: 0 20px;
  color: #ff7000;
  text-shadow: 0px 0px 3px #00000050;
}
nav .app-title span {
  /* padding: 0 5px; */
  color: #555555;
}
nav .app-controls {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
nav .app-controls button {
  -webkit-app-region: no-drag;
  width: 40px;
  font-size: 14px;
  border: 0;
  color: #aaaaaa;
  background: #00000000;
}
nav .app-controls button:hover {
  background: #00000050;
}
nav .app-controls button.app-close:hover {
  color: #ffffff;
  background: #ab1313;
}
nav .app-controls button:focus {
  outline: none;
}

/* =======================
    12.FARMING OVERLAY
    ======================= */
.farming-overlay {
  position: absolute;
  display: none;
  flex-direction: column;
  right: 40px;
  bottom: 40px;
  padding: 6px;
  background: #000000b4;
}
.farming-overlay .material {
  display: flex;
}
/* =======================
    12. BODIES IMAGE
    ======================= */
    .stellar {
  display: block;
  position: relative;
  background-color: #ccc;
  background-image: url(../images/stellar2.png);
  background-blend-mode: multiply;
  background-blend-mode: color-burn;
  width: 36px;
  height: 36px;
  line-height: 30px;
  border-radius: 100%;
  text-align: center;
  color: #000;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  font-weight: bold;
  /* box-shadow: 1px 1px 3px #000, inset 10px 0 50px #000; */
  transition: all 0.5s;
  border: solid 2px transparent;
  border-width: 3px;
  border-color: rgba(0, 0, 0, 0.3);
  overflow: visible;
}
.stellar.type-undefined {
    display: none;
}
.stellar.type-O {
  background-color: #f8feff;
  box-shadow: 0 0 5px #000, 0 0 15px #5ebcff, 0 0 45px #5ebcff,
    inset 0 0 20px #fff;
}
.stellar.type-B {
  background-color: #ccfcff;
  box-shadow: 0 0 5px #000, 0 0 15px #24b4f7, 0 0 45px #24b4f7,
    inset 0 0 10px #24b4f7;
}

.stellar.type-F_Whit,
.stellar.type-TTS,
.stellar.type-A {
  background-color: #fafbff;
  box-shadow: 0 0 5px #000, 0 0 15px #fff, 0 0 45px #fff, inset 0 0 10px #fff;
}
.stellar.type-F {
  background-color: #feeaa4;
  box-shadow: 0 0 5px #000, 0 0 15px #f3cea9, 0 0 45px #f3cea9,
    inset 0 0 10px #f3cea9;
}
.stellar.type-G {
  background-color: #fece53;
  box-shadow: 0 0 5px #000, 0 0 15px #fece53, 0 0 45px #fece53,
    inset 0 0 10px #ffbb11;
}
.stellar.type-K {
  background-color: #ff972d;
  box-shadow: 0 0 5px #000, 0 0 15px #ff972d, 0 0 45px #ff972d,
    inset 0 0 10px #ffbb11;
}
.stellar.type-M,
.stellar.type-MS,
.stellar.type-M_RedG,
.stellar.type-M_RedS {
  background-color: #fc7d3d;
  box-shadow: 0 0 5px #000, 0 0 15px #fc7d3d, 0 0 45px #fc7d3d,
    inset 0 0 10px #ffbb11;
}

.stellar.type-L {
  background-color: #f6392b;
  box-shadow: 0 0 15px #3e031a, inset 0 0 10px #3e031a;
}
.stellar.type-T {
  background-color: #aa2c51;
  box-shadow: 0 0 15px #780818, inset 0 0 10px #780818;
}
.stellar.type-Y {
  background-color: #5b0224;
  box-shadow: 0 0 15px #3e031a, inset 0 0 10px #4c0348;
}

.stellar.type-C {
  background-color: #e27831;
  box-shadow: 0 0 15px #e27831, inset 0 0 15px #992e16;
}
.stellar.type-S {
  background-color: #69232d;
  box-shadow: 0 0 15px #69232d, inset 0 0 10px #5a0f2e;
}
.stellar.type-W {
  background-color: #f8feff;
  box-shadow: 0 0 5px #000, 0 0 15px #5ebcff, inset 0 0 20px #fff;
}

.stellar.type-DA,
.stellar.type-DAB,
.stellar.type-DAV,
.stellar.type-DAZ,
.stellar.type-DB,
.stellar.type-DBV,
.stellar.type-DC,
.stellar.type-DCV,
.stellar.type-DQ,
.stellar.type-D {
  background-color: #d2e5f6;
  box-shadow: 0 0 5px #000, 0 0 15px #5ebcff, inset 0 0 20px #fff;
}

.stellar.type-T,
.stellar.type-L,
.stellar.type-Y {
  color: #ccc;
  text-shadow: 1px 1px 2px #000, 0 0 2px #000;
}

.stellar.type-H,
.stellar.type-Superm {
  background-color: #000000;
  border-color: #222222;
  box-shadow: 0 0 5px #000, 0 0 30px #666, 0 0 15px #000, inset 0 0 20px #000;
  color: #fff;
  animation: black-hole-effect 3s infinite;
  animation-direction: alternate;
}

@keyframes black-hole-effect {
  100% {
    box-shadow: 0 0 5px #000, 0 0 30px #999, 0 0 15px #000, inset 0 0 20px #000;
  }
}

.stellar.type-N {
  background-color: #fff;
  border-color: #222222;
  box-shadow: 0 0 5px #000, 0 0 30px #3466fd, -12px 0 15px #3466fd,
    12px 0 15px #5f47cf;
}
.stellar.type-elw {
    background-color: var(--elite-green);
    background-blend-mode: color-dodge;
}

.stellar.type-ww {
    background-color: var(--elite-blue-dark);
}

/* .star .stellar {
    width: 36px;
    height: 36px;
}
.planet .stellar {
    width: 32px;
    height: 32px;
} */

